<%- include('../templates/head'); -%>
<%- include('../templates/sidebar', {view: 'Achievements' }); -%>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <%- include('../templates/navbar', {breadcrumbs: 'Achievements' }); -%>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="d-flex justify-content-lg-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Achievements</h6>
                            <a href="/forms/achievement" class="text-white px-3"><i class="fa fa-plus p-1"></i>Add achievement</a>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Achievement</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Required Score</th>

                                        <th
                                            class="text-center text-secondary text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% achievementsList.forEach(function(achievement) { %>
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">
                                                            <%= achievement.name %>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">
                                                    <%= achievement.scoreRequired %>
                                                </p>
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="/achievement/<%= achievement.id %>"
                                                    class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-original-title="View achievement">
                                                    <i class="fa fa-search p-1"></i>
                                                </a>
                                                <a href="javascript:;"
                                                    class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-original-title="Edit achievement">
                                                    <i class="fa fa-pencil p-1"></i>
                                                </a>
                                                <a href="javascript:;"
                                                    class="text-secondary font-weight-bold text-xs delete-achievement"
                                                    data-toggle="tooltip" 
                                                    data-original-title="Delete achievement" 
                                                    onclick='deleteAchievement( "<%= achievement.id %>" )'>
                                                    <i class="fa fa-trash p-1"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../templates/footer'); -%>
    </div>
    <%- include('../templates/messages'); -%>
</main>

<script>
    function deleteAchievement(achievementId) {
        fetch('/achievement/' + achievementId, {
            method: 'DELETE',
        }).then(function(response) {
            if (response.ok) {
                console.log('Achievement was deleted');
                location.reload();
            } else {
                console.error('An error occurred');
            }
        }).catch(function(error) {
            console.error('An error occurred', error);
        });
    }
</script>

<%- include('../templates/scripts'); -%>