<%- include('../templates/head'); -%>
<%- include('../templates/sidebar', {view: 'Situations' }); -%>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
	<!-- Navbar -->
	<%- include('../templates/navbar', {breadcrumbs: 'Create situation' }); -%>
	<!-- End Navbar -->
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12">
				<div class="card my-4">
					<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
						<div
							class="d-flex justify-content-lg-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
							<h6 class="text-white text-capitalize ps-3">Create situation</h6>
						</div>
					</div>
					<div class="card-body px-0 pb-2">
						<div class="card card-plain">
							<div class="card-header">
								<h4 class="font-weight-bolder">Fill in situation data</h4>
							</div>
							<div class="card-body">
								<form role="form" action="/situation" method="POST">

									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label>
										<textarea rows="7" type="text" class="form-control" name="question"
											placeholder="Question"></textarea>
									</div>

									<p class="d-inline-flex gap-1">
										<button id="addAnswer" class="btn btn-primary bg-gradient-primary" type="button">
											Add more answers
										</button>
									</p>

									<div id="answers">
										<div class="input-group input-group-outline mb-3 item d-flex align-items-center">
											<div class="col-1">
												<input class="" type="radio" name="correctAnswer" value="1" checked>
											</div>
											<div class="col-9">
												<input type="text" placeholder="Enter answer text" class="form-control" name="answers">
											</div>
											<div class="col-2">
												<button class="btn btn-outline-danger remove mb-0 ms-auto d-flex" type="button">X</button>
											</div>
										</div>
										<div class="input-group input-group-outline mb-3 item d-flex align-items-center">
											<div class="col-1">
												<input class="" type="radio" name="correctAnswer" value="2">
											</div>
											<div class="col-9">
												<input type="text" placeholder="Enter answer text" class="form-control" name="answers">
											</div>
											<div class="col-2">
												<button class="btn btn-outline-danger remove mb-0 ms-auto d-flex" type="button">X</button>
											</div>
										</div>
									</div>
									
									<select class="form-control  mb-3 border p-2" aria-label="Topic"
										name="topicId">
										<option disabled selected>Select topic</option>
										<% topicsList.forEach(function(topic) { %>
											<option value="<%= topic.id %>">
												<%= topic.title %>
											</option>
											<% }); %>
									</select>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label>
										<textarea rows="7" type="text" class="form-control"
											name="wrongAnswerDescription"
											placeholder="Wrong answer description"></textarea>
									</div>
									<div class="text-center">
										<button
											class="btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0">SAVE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../templates/footer'); -%>
	</div>
	<%- include('../templates/messages'); -%>
</main>

<%- include('../templates/scripts'); -%>
<script>
window.addEventListener("DOMContentLoaded", () => {

	function createTemplate(isChecked, radioValue) {
		return `<div class="input-group input-group-outline mb-3 item d-flex align-items-center">
					<div class="col-1">
						<input class="" type="radio" name="correctAnswer" value="${radioValue}" ${isChecked ? 'checked' : ''}>
					</div>
					<div class="col-9">
						<input type="text" placeholder="Enter answer text" class="form-control" name="answers">
					</div>
					<div class="col-2">
						<button class="btn btn-outline-danger remove mb-0 ms-auto d-flex" type="button">X</button>
					</div>
				</div>`;
	}

	let add = document.getElementById("addAnswer");
	let items = document.getElementById("answers");

	add.addEventListener("click", () => {
		let currentCount = items.querySelectorAll('input[type="radio"][name="correctAnswer"]').length;
		if (currentCount >= 10) {
			alert("Maximum Limit Reached");
		} else {
			currentCount++;
			let template = createTemplate(false, currentCount);
			items.innerHTML += template;
		}
	});

	document.body.addEventListener("click", (e) => {
		const target = e.target;
		if (target.classList.contains("remove")) {
			let currentCount = items.querySelectorAll('input[type="radio"][name="correctAnswer"]').length;
			if (currentCount == 2) {
				displayToast('error', 'Maximum Limit Reached');
				return;
			}

			target.closest('.item').remove();
			
			// Re-order the radio values
			reorderRadioValues();
		}
	});

	function reorderRadioValues() {
		const radioButtons = items.querySelectorAll('input[type="radio"][name="correctAnswer"]');
		for(let j = 0; j < radioButtons.length; j++) {
			radioButtons[j].value = j + 1;
		}
	}
});
</script>