<%- include('../templates/head'); -%>
<%- include('../templates/sidebar', {view: 'Users' }); -%>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
	<!-- Navbar -->
	<%- include('../templates/navbar', {breadcrumbs: 'Create new user' }); -%>
	<!-- End Navbar -->
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12">
				<div class="card my-4">
					<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
						<div
							class="d-flex justify-content-lg-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
							<h6 class="text-white text-capitalize ps-3">Create new user</h6>
						</div>
					</div>
					<div class="card-body px-0 pb-2">
						<div class="card card-plain">
							<div class="card-header">
								<h4 class="font-weight-bolder">Fill in user data</h4>
							</div>
							<div class="card-body">
								<form role="form" action="/user/<%=updateData.id ? updateData.id : null%>" method="POST">
									<div class="input-group input-group-outline mb-3">
										<input type="text" placeholder="User name" class="form-control" name="name" value="<%=updateData.name ? updateData.name : null%>">
									</div>
                                    <div class="input-group input-group-outline mb-3">
										<input type="text" placeholder="Email" class="form-control" name="email" value="<%=updateData.email ? updateData.email : null%>">
									</div>
                                    <select class="form-control mb-3 border p-2" placeholder="Role" aria-label="Role" name="role">
										<option disabled selected >Select role</option>
										<option value="user" >user</option>
                                        <option value="admin" >admin</option>
									  </select>
                                    <div class="input-group input-group-outline mb-3">
										<input type="password" placeholder="Password" class="form-control" name="password">
									</div>
                                    <div class="input-group input-group-outline mb-3">
										<input type="password" placeholder="Repeat password" class="form-control" name="repeatedPassword">
									</div>
									<div class="text-center">
										<button
											class="btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0">SAVE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../templates/footer'); -%>
	</div>
	<%- include('../templates/messages'); -%>
</main>

<%- include('../templates/scripts'); -%>
<script>
    window.history.pushState({}, '', '/forms/user');
</script>