<%- include('../templates/head'); -%>
<%- include('../templates/sidebar', {view: 'Cheater phones' }); -%>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
	<!-- Navbar -->
	<%- include('../templates/navbar', {breadcrumbs: 'Create cheater phone' }); -%>
	<!-- End Navbar -->
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12">
				<div class="card my-4">
					<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
						<div
							class="d-flex justify-content-lg-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
							<h6 class="text-white text-capitalize ps-3">Create cheater phone</h6>
						</div>
					</div>
					<div class="card-body px-0 pb-2">
						<div class="card card-plain">
							<div class="card-header">
								<h4 class="font-weight-bolder">Enter a cheater phone</h4>
							</div>
							<div class="card-body">
								<form role="form" action="/cheaterPhone/<%=updateData.id ? updateData.id : null%>" method="POST" enctype="multipart/form-data">
									<div class="input-group input-group-outline mb-3 <%=updateData.id ? 'is-filled' : ''%>">
										<label class="form-label">Phone (ex. 380999999999) </label>
										<input type="text" id="phone" class="form-control" name="phone" value="<%=updateData.phone ? updateData.phone : null%>">
									</div>
									<div class="<%=updateData.id ? 'd-none' : null%> input-group input-group-outline mb-3 <%=updateData.id ? 'is-filled' : ''%>">
										<label class="form-label"></label>
										<textarea rows="7" type="text" class="form-control " name="description"
											placeholder="Description"></textarea>
									</div>
									<div class="input-group mb-3 picture">
										<input type="file" class="form-control" id="inputGroupFile01" name="uploadedFile" required>
									</div>
									<a type="button" id="addmore"
											class="btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0 add-button-width">ADD MORE</a>
									<div class="text-center">
									<input type="hidden" value="1" name="userId">
										<button
											class="btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0">SAVE</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../templates/footer'); -%>
	</div>
	<%- include('../templates/messages'); -%>
</main>

<%- include('../templates/scripts'); -%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" ></script>

<script>
	window.history.pushState({}, '', '/tables/cheaterPhones');
	//INPUT MASK
	$(document).ready(function(){
  	$('#phone').mask('38099999999');
	$('#addmore').on('click',()=>{
		$('.picture').first().prepend(`<div class="input-group mb-3">
										<input type="file" class="form-control" id="inputGroupFile01" name="uploadedFile">
									</div>
							`)
	})	
});
</script>